body{
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

fieldset{
    margin-left: 30%;
    margin-right: 30%;
    border: 10px solid rgb(87, 0, 80);
    background-color: rgb(248, 211, 255);
    padding-left:2% ;
}

legend{
    color: rgb(73, 60, 255);
}

#errormsg{
    color: rgb(255, 60, 141);
}